 body{
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   color: #40514E;
}


h1 {
  margin: 50px auto 0 auto; /* 16px = 100% = 1em */
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  padding-bottom: 2px;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-style: dotted none none;
  border-top-width: 6px;
  border-color: #EAF6F6;
  height: 0;
  width: 5%;
  margin: 100px auto;
 }

 p{
   line-height: 2;
 }


.topcontainer {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin: 100px auto 50px auto;
}

.bottom-container {
  background-color: #66BFBF;
  margin: auto;
  padding: 40px;
}

.pro {
  text-decoration: underline;
}

.profile {
  width: 50%;
  margin: 50px auto 100px auto;
}


.bottomcloud {
  position: absolute;
  bottom: 300px;
  left: 250px
}

.topcloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.mountain {
  position: relative;
}

.descript {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.ok {
  width: 25%;
  height: auto;
  border-radius: 15%;
}

.rgb_keyboard {
  width: 25%;
  height: 100%;
  border-radius: 15%;
  float: left;
  margin-right: 30px;
}

.sleeper {
  float: right;
  width: 25%;
  height: 100%;
  border-radius: 15%;
  margin-left: 30px;
}

.footer-link {
  color: #11999E;
  margin: auto 15px auto 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.footer-link:hover {
  color: #FFFFFF;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skills {
  margin: 100px auto auto auto;
}

.contact-me {
  width: 50%;
  margin: 50px auto 50px auto
}

.copyright-text {
  color: #EAF6F6;
  margin-top: 30px;
  font-size: 75%;
}

.btn {
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #2BC4AD, #11999E);
   background-image: -moz-linear-gradient(top, #2BC4AD, #11999E);
   background-image: -ms-linear-gradient(top, #2BC4AD, #11999E);
   background-image: -o-linear-gradient(top, #2BC4AD, #11999E);
   background-image: linear-gradient(to bottom, #2BC4AD, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   height: auto;
   line-height: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   width: auto;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   border: none;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 30px auto 40px auto;
}

.btn:hover {
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}
